.App {
  text-align: center;
}

.topbar {
  background: #2f376e;
  color: white;
  float: left;
  width: 100vw;
  height: 5vh;
  padding: 20px 0;
}

.navlink {
  margin: 5px;
  color: white;
  display: inline;
}

.sidebarlink {
  margin: 5px;
  color: white;
}

.sidebar {
  background: #414b93;
  color: white;
  float: left;
  width: 20vw;
  height: 90vh;
}

.main-content {
  background: #b9bee0;
  color: #2f376e;
  float: left;
  width: 80vw;
  height: 90vh;
}

.Welcome-Page {
  background: #b9bee0;
  color: #2f376e;
  width: 100vw;
  height: 100vh;
}

.topbar-logo {
  float: left;
  font-size: 20px;
  margin-left: 10px;
}

.username-display {
  float: right;
  color: white;
  display: inline;
  margin-right: 20px;
}

.logout-display {
  margin-top: 10px;
}

.logout {
  float: left;
  clear: both
}

.page-name-display {
  font-size: 30px;
}
