.topbar {
  background: #2f376e;
  color: white;
  float: left;
  width: 100vw;
  height: 5vh;
  padding: 20px 0;
  text-align: center;
}

.navlink {
  margin: 5px;
  color: white;
  display: inline;
}

.main-content-link {
  margin: 5px;
  color: blue;
}

.button {
  font-size: 12px;
  text-decoration: none;
  background-color: white;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border: 1px solid #878783;
  border-radius: 3px;
}

.welcome-window-button {
  margin-right: 7px;
}

.sidebar {
  background: #414b93;
  color: white;
  float: left;
  width: 15vw;
  height: 90vh;
  text-align: center;
}

.main-content {
  background: #b9bee0;
  color: #2f376e;
  float: left;
  width: 85vw;
  height: 90vh;
}

.main-content-text {
  margin-right: 7.5vw;
  text-align: center;
}

.login-Page {
  background: #b9bee0;
  color: #2f376e;
  width: 100vw;
  height: 100vh;
  text-align: center;
}

.topbar-logo {
  float: left;
  font-size: 20px;
  margin-left: 10px;
}

.logo-image {
  margin-right: 10px;
}

.logo-text {
  display: inline;
}

.username-display {
  float: right;
  color: white;
  display: inline;
  margin-right: 20px;
}

.logout-display {
  margin-top: 10px;
}

.logout {
  float: right;
  margin-right: 10px;
}

.page-name-display {
  font-size: 30px;
  display: inline;
}

.form-window {
  background: white;
  width: 30vw;
  height: 55vh;
  text-align: center;
  position: absolute;
  z-index: 1;
  top: 20%;
  left: 40%;
  overflow: auto;
  padding: 20px;
  border: 1px solid #888;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profile-form {
  height: 30vh;
}

.match-form {
  height: 62vh;
}

.opponent-form {
  height: 57vh;
}

.stats-form {
  height: 25vh;
}
.profile-input {
  width: 75px;
  margin-right: 5px;
}

.close-window-button {
  float: right;
  margin-right: -1vw;
  font-size: 18px;
  margin-top: -2vh;
}

.match-tournament-link {
  display: block; /* makes this link appear on its own line */
  margin-bottom: 10px;
  margin-top: -15px;
  color: blue;
}

.notes-label {
  display: block;
}

.tutorial-text {
  background: white;
  color: #2f376e;
  width: 53vw;
  height: auto;
  text-align: center;
  position: absolute;
  z-index: 1;
  overflow: auto;
  padding: 20px;
  border: 1px solid #888;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tutorial-1 {
  top: 15%;
  left: 25%;
}

.tutorial-2 {
  top: 6.5%;
  left: 20%;
}

.tutorial-2-image {
  position: absolute;
  z-index: 1;
  top: 10%;
}

.tutorial-3 {
  top: 43%;
  left: 22%;
}

.tutorial-3-image {
  position: absolute;
  z-index: 1;
  top: 16%;
  left: 43%;
}

.tutorial-4 {
  top: 78%;
  left: 30%;
}

.tutorial-4-image {
  position: absolute;
  z-index: 1;
  top: 16%;
  left: 37%;
}

.tutorial-5 {
  top: 15%;
  left: 17%;
}

.tutorial-5-image {
  position: absolute;
  z-index: 1;
  top: 16%;
  left: 1%;
}

.tutorial-6 {
  top: 22%;
  left: 17%;
}

.tutorial-6-image {
  position: absolute;
  z-index: 1;
  top: 27%;
  left: 2%;
}

.tutorial-7 {
  top: 60%;
  left: 30%;
}

.tutorial-7-image {
  position: absolute;
  z-index: 1;
  top: 15%;
  left: 45%;
}

.tutorial-8 {
  top: 2%;
  left: 27%;
}

.tutorial-8-image {
  position: absolute;
  z-index: 1;
  top: .7%;
  left: 86%;
}

.tutorial-background {
  background: #606060;
  width: 100vw;
  height: 100vh;
  opacity: .5;
  position: fixed;
  z-index: 0;
}

.welcome-window-text {
  text-align: center;
}

.current-ranking-display{
  margin-right: -220px;
  margin-left: 3px;
  font-style: italic;
  font-size: 13px;
}

.utr-display{
  margin-right: -150px;
  margin-left: 3px;
  font-style: italic;
  font-size: 13px;
}

.instructions-display{
  font-style: italic;
  font-size: 13px;
}

.message-display {
  display: block;
  font-style: italic;
  font-size: 15px;
  margin-top: 40px;
}

.tutorial-link {
  margin-top: 63vh;
}

.inline {
  display: inline;
  margin-right: 10px;
}

.title-display {

}

.edit-icon {
  position: absolute;
  left: 60.5%;
  bottom: 81.5%;
}

.delete-icon {
  position: absolute;
  left: 62.5%;
  bottom: 82%;
  cursor: pointer;
}

.add-tournament-highlight {
  width: 9vw;
  height: 5vh;
  position: fixed;
  bottom: 83vh;
  left: 3vw;
  z-index: 1;
  line-height: 34px;
}

textarea {
  width: 200px;
  height: 75px;
}
