.App {
  text-align: center;
}

.navbar {
  background: #2f376e;
  color: white;
  float: left;
  width: 100vw;
  height: 5vh;
  padding: 20px 0;
}

.navlink {
  margin: 5px;
  color: white;
  display: inline;
}

.sidebarlink {
  margin: 5px;
  color: white;
}

.sidebar {
  background: #414b93;
  color: white;
  float: left;
  width: 20vw;
  height: 90vh;
}

.main-content {
  background: #b9bee0;
  color: #2f376e;
  float: left;
  width: 80vw;
  height: 90vh;
}

.Welcome-Page {
  background: #b9bee0;
  color: #2f376e;
  width: 100vw;
  height: 100vh;
}

.welcome-message {
  float: left;
  color: white;
  display: inline;
}

.logout {
  float: left;
  clear: both
}
