.App {
  text-align: center;
}

.topbar {
  background: #2f376e;
  color: white;
  float: left;
  width: 100vw;
  height: 5vh;
  padding: 20px 0;
}

.navlink {
  margin: 5px;
  color: white;
  display: inline;
}

.main-content-link {
  margin: 5px;
}

.sidebar {
  background: #414b93;
  color: white;
  float: left;
  width: 15vw;
  height: 90vh;
}

.main-content {
  background: #b9bee0;
  color: #2f376e;
  float: left;
  width: 85vw;
  height: 90vh;
}

.main-content-text {
  margin-right: 6vw;
}

.login-Page {
  background: #b9bee0;
  color: #2f376e;
  width: 100vw;
  height: 100vh;
}

.topbar-logo {
  float: left;
  font-size: 20px;
  margin-left: 10px;
}

.logo-image {
  margin-right: 10px;
}

.logo-text {
  display: inline;
}

.username-display {
  float: right;
  color: white;
  display: inline;
  margin-right: 20px;
}

.logout-display {
  margin-top: 10px;
}

.logout {
  float: left;
  clear: both
}

.page-name-display {
  font-size: 30px;
  display: inline;
}

.form-window {
  background: white;
  width: 30vw;
  height: 55vh;
  text-align: center;
  position: absolute;
  z-index: 1;
  top: 20%;
  left: 40%;
  overflow: auto;
  padding: 20px;
  border: 1px solid #888;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profile-form {
  height: 30vh;
}

.match-form {
  height: 62vh;
}

.opponent-form {
  height: 57vh;
}

.stats-form {
  height: 25vh;
}
.profile-input {
  width: 75px;
  margin-right: 5px;
}

.form-text {

}

.close-window-button {
  float: right;
  font-size: 18px;
  margin-top: -20px;
}

.match-tournament-link {
  display: block; /* makes this link appear on its own line */
  margin-bottom: 10px;
  margin-top: -15px;
}

.notes-label {
  display: block;
}

.welcome-window {
  background: white;
  color: #2f376e;
  width: 60vw;
  height: 45vh;
  text-align: center;
  position: absolute;
  z-index: 1;
  top: 15%;
  left: 25%;
  overflow: auto;
  padding: 20px;
  border: 1px solid #888;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.welcome-window-background {
  background: #606060;
  width: 100vw;
  height: 100vh;
  opacity: .5;
  position: fixed;
  z-index: 0;
}

.welcome-window-text {
  text-align: left;
}

textarea {
  width: 200px;
  height: 75px;
}
