// Override default variables before the import
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

html, body {
  min-height: 100vh;
  height: 100%;
  font-family: 'Muli', sans-serif !important;
}

ul {
  list-style-type: none;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
  outline:0px !important;
  -webkit-appearance:none;
  box-shadow: none !important;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ced4da;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #ced4da;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #ced4da;
}

#App {
  min-height: 90vh;
  height: 100%
}

#login-page-header {
  background: url(./images/tennis-court-stock-photo-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;

  .fas {
    color: #333;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
  }

  .dark-overlay {
    position: absolute;
    top: 10;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background: rgba(0,0,0,0.7);
  }
}

.vh-45 {
  min-height: 45vh;
  max-height: 45vh;
  overflow: auto;
}

.card-tournament {
  background-color: #d9d9d9 !important;
}

.home-icon {
  color: #17a2b8
}

.stat-tracker-name {
  font-size: 18px;
}

.close {
  position: absolute;
  right: 1rem;
}

.inline {
  display: inline;
}

.card-deck-scrollable{
  @extend .card-deck;
  flex-direction: row;

  & > .card{
    @extend .mx-3;
    flex: 0 0 20% !important;/*Change to any size you want*/
    max-width: 20%;
  }
}

.rankings-chart-button {
  color: #49A067;
  background: none;
  border: none;
}

.rankings-chart-button:focus {
  border: none;
  outline: none;
}

.rankings-chart-message {
  height: 350px;
}

.profile-pic {
	position: relative;
	display: inline-block;
}

.profile-pic:hover .edit {
	display: block;
}

.edit {
	padding-top: 7px;
	padding-right: 7px;
	position: absolute;
	right: 0;
	top: 0;
	display: none;
}

.edit a {
	color: #333;
}

.clear-button {
  background: none;
  border: none;
}

.middle {
  vertical-align: middle;
}

.text-green {
  color: #49A067;
}

.input-group-text.text-red {
  color: #dc3545;
}

.input-group-text.text-orange {
  color: orange;
}

.input-group-text.text-light-green {
  color: lightgreen;
}

.input-group-text.text-green {
  color: green;
}

.text-grey {
  color: #A8A8A8 !important;
}

.background-dark {
  background: #3A3A3A;
}

.background-light-green {
  background: #DDEFE2;
  height: 100vh;
}

.background-green {
  background: #49A067;
  height: 100vh;
}

.background-light-grey {
  background: #F4F4F4;
}

.btn-green {
  color: #fff !important;
  background-color: #49A067 !important;
  border-color: #49A067 !important;
}

.btn-signup {
  color: #49A067 !important;
  background-color: #fff !important;
  border-color: #fff !important;
  border-radius: 2rem !important;
}

.btn-login {
  color: #fff !important;
  background-color: #49A067 !important;
  border-color: #49A067 !important;
  border-radius: 2rem !important;
}

.signup-text {
  font-size: 13px;
}

.w-40 {
  width: 40% !important;
}

.goals-text {
  font-size: 14px;
}

.skills-li {
  background: #49A067;
  color: white;
  border-radius: 1rem;
}

.skills-li-input {
  background: #49A067;
  color: white;
  border: none;
  border-radius: 1rem;
  text-align: center;
  display: block;
  width: 100%;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background-clip: padding-box;
}

.hide-row {
  .hide {
    visibility: hidden;
  }
}

.hide-row:hover {
  .hide {
    visibility: visible;
  }
}

.shadow-green {
  box-shadow: 0 0.5rem 1rem #AFD8B6;
  // 0 0.5rem 1rem - shadow
  // 0 1rem 3rem - shadow-lg
}

.shadow-light-green {
  box-shadow: 0 0.5rem 1rem #DDE8DF;
}

.border-white {
  border: 1px solid white !important;
}

.login-input {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 2rem 2rem;
  margin-top: 2rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 2rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.login-input.is-invalid {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 2rem 2rem;
  margin-top: 2rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #dc3545;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 2rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.signup-input.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 1.5rem 2rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 2rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.signup-input.form-control:focus{
  border-color: #ced4da;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.signup-input.form-control.is-invalid {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 1.5rem 2rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #dc3545;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #dc3545;
  border-radius: 2rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.background-image-none {
  background-image: none !important;
}

// #passwordInput.signup-input.form-control {
//   border-right: 0;
// }

#passwordInput.signup-input.form-control.is-invalid {
  border: 1px solid #dc3545;
}

#passwordAddon {
  border-top-right-radius: 2rem !important;
  border-bottom-right-radius: 2rem !important;
  background-color: white;
  border: 1px solid #ced4da;
  border-left: 0;
  padding-right: 2rem;
}

#passwordAddon.feedback-invalid {
  border: 1px solid #dc3545;
}

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
