// Override default variables before the import
html, body {
  min-height: 100vh;
  height: 100%;
}

#App {
  min-height: 90vh;
  height: 100%
}

.card-stats {
  height: 120px;
}

.card-tournament {
  height: 120px;
  background-color: #d9d9d9 !important;
}

.home-icon {
  color: #17a2b8
}

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
