// Override default variables before the import
.card-stats {
  height: 120px;
}

.card-tournament {
  height: 120px;
  width: 150px;
}

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
