// Override default variables before the import
html, body {
  min-height: 100vh;
  height: 100%;
}

#App {
  min-height: 90vh;
  height: 100%
}

#login-page-header {
  background: url(./images/tennis-court-stock-photo-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;

  .fas {
    color: #333;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
  }

  .dark-overlay {
    position: absolute;
    top: 10;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background: rgba(0,0,0,0.7);
  }
}

.card-stats {
  height: 120px;
}

.card-tournament {
  background-color: #d9d9d9 !important;
}

.home-icon {
  color: #17a2b8
}

.stat-tracker-name {
  font-size: 18px;
}

.close {
  position: absolute;
  right: 1rem;
}

.inline {
  display: inline;
}

.ranking-card {
  height: 350px;
}

.card-deck-scrollable{
  @extend .card-deck;
  flex-direction: row;

  & > .card{
    @extend .mx-3;
    flex: 0 0 20% !important;/*Change to any size you want*/
    max-width: 20%;
  }
}

.rankings-chart-button {
  color: white;
  background: none;
  border: none;
}

.rankings-chart-message {
  height: 400px;
}

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
