// Override default variables before the import
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

html, body {
  min-height: 100vh;
  height: 100%;
  font-family: 'Muli', sans-serif !important;
}

ul {
  list-style-type: none;
}

input:focus, select:focus, textarea:focus, button:focus {
  outline: none;
}

#App {
  min-height: 90vh;
  height: 100%
}

#login-page-header {
  background: url(./images/tennis-court-stock-photo-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;

  .fas {
    color: #333;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
  }

  .dark-overlay {
    position: absolute;
    top: 10;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background: rgba(0,0,0,0.7);
  }
}

.vh-45 {
  min-height: 45vh;
  max-height: 45vh;
  overflow: auto;
}

.card-tournament {
  background-color: #d9d9d9 !important;
}

.home-icon {
  color: #17a2b8
}

.stat-tracker-name {
  font-size: 18px;
}

.close {
  position: absolute;
  right: 1rem;
}

.inline {
  display: inline;
}

.card-deck-scrollable{
  @extend .card-deck;
  flex-direction: row;

  & > .card{
    @extend .mx-3;
    flex: 0 0 20% !important;/*Change to any size you want*/
    max-width: 20%;
  }
}

.rankings-chart-button {
  color: #49A067;
  background: none;
  border: none;
}

.rankings-chart-button:focus {
  border: none;
  outline: none;
}

.rankings-chart-message {
  height: 350px;
}

.profile-pic {
	position: relative;
	display: inline-block;
}

.profile-pic:hover .edit {
	display: block;
}

.edit {
	padding-top: 7px;
	padding-right: 7px;
	position: absolute;
	right: 0;
	top: 0;
	display: none;
}

.edit a {
	color: #333;
}

.clear-button {
  background: none;
  border: none;
}

.middle {
  vertical-align: middle;
}

.text-green {
  color: #49A067;
}

.text-grey {
  color: #A8A8A8 !important;
}

.background-dark {
  background: #3A3A3A;
}

.background-light-green {
  background: #DDEFE2;
}

.btn-green {
  color: #fff !important;
  background-color: #49A067 !important;
  border-color: #49A067 !important;
}

.w-40 {
  width: 40% !important;
}

.goals-text {
  font-size: 14px;
}

.skills-li {
  background: #49A067;
  color: white;
  border-radius: 1rem;
}

.skills-li-input {
  background: #49A067;
  color: white;
  border: none;
  border-radius: 1rem;
  text-align: center;
  display: block;
  width: 100%;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  background-clip: padding-box;
}

.hide-row {
  .hide {
    visibility: hidden;
  }
}

.hide-row:hover {
  .hide {
    visibility: visible;
  }
}

.shadow-green {
  box-shadow: 0 0.5rem 1rem #AFD8B6;
  // 0 0.5rem 1rem - shadow
  // 0 1rem 3rem - shadow-lg
}

.shadow-light-green {
  box-shadow: 0 0.5rem 1rem #DDE8DF;
}

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
