.navlink {
  margin: 5px;
  color: white;
  display: inline;
}

.button {
  font-size: 12px;
  text-decoration: none;
  background-color: white;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border: 1px solid #878783;
  border-radius: 3px;
}

.inline {
  display: inline;
  margin-right: 10px;
}

textarea {
  width: 200px;
  height: 75px;
}
