.main-content {
  background: #b9bee0;
  color: #2f376e;
  float: left;
  width: 85vw;
  height: 90vh;
}

.main-content-text {
  text-align: center;
}

.main-content-link {
  margin: 5px;
  color: blue;
}

.icons-tournament {
  position: absolute;
  left: 64%;
  top: 14%;
}

.icons-match {
  position: absolute;
  left: 63.5%;
  top: 14%;
}
/* .edit-icon {
  position: absolute;
  left: 60.5%;
  bottom: 81.5%;
}

.delete-icon {
  position: absolute;
  left: 62.5%;
  bottom: 82%;
  cursor: pointer;
} */

.instructions-display{
  font-style: italic;
  font-size: 13px;
}

.message-display {
  position: absolute;
  font-style: italic;
  font-size: 15px;
  top: 20%;
  left: 33%;
}

.match-tournament-link {
  display: block; /* makes this link appear on its own line */
  margin-bottom: 10px;
  margin-top: -15px;
  color: blue;
}
