.topbar {
  background: #2f376e;
  color: white;
  float: left;
  width: 100vw;
  height: 5vh;
  padding: 20px 0;
  text-align: center;
}

.topbar-logo {
  float: left;
  font-size: 20px;
  margin-left: 10px;
}

.logo-image {
  margin-right: 10px;
}

.logo-text {
  display: inline;
}

.username-display {
  float: right;
  color: white;
  display: inline;
  margin-right: 20px;
}

.logout-display {
  margin-top: 10px;
}

.logout {
  float: right;
  margin-right: 10px;
}
