.tutorial-text {
  background: white;
  color: #2f376e;
  width: 53vw;
  height: auto;
  text-align: center;
  position: absolute;
  z-index: 1;
  overflow: auto;
  padding: 20px;
  border: 1px solid #888;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tutorial-background {
  background: #606060;
  width: 100vw;
  height: 100vh;
  opacity: .5;
  position: fixed;
  z-index: 0;
}

.tutorial-1-text {
  top: 15%;
  left: 25%;
}

.tutorial-2-text {
  top: 6.5%;
  left: 20%;
}

.tutorial-2-image {
  position: absolute;
  z-index: 1;
  top: 10%;
}

.tutorial-3-text {
  top: 43%;
  left: 26.5%;
}

.tutorial-3-image {
  position: absolute;
  z-index: 1;
  top: 16%;
  left: 43%;
}

.tutorial-4-text {
  top: 78%;
  left: 30%;
}

.tutorial-4-image {
  position: absolute;
  z-index: 1;
  top: 16%;
  left: 37%;
}

.tutorial-5-text {
  top: 15%;
  left: 17%;
}

.tutorial-5-image {
  position: absolute;
  z-index: 1;
  top: 16%;
  left: 1%;
}

.tutorial-6-text {
  top: 22%;
  left: 17%;
}

.tutorial-6-image {
  position: absolute;
  z-index: 1;
  top: 27%;
  left: 2%;
}

.tutorial-7-text {
  top: 60%;
  left: 30%;
}

.tutorial-7-image {
  position: absolute;
  z-index: 1;
  top: 15%;
  left: 45%;
}

.tutorial-8-text {
  top: 2%;
  left: 27%;
}

.tutorial-8-image {
  position: absolute;
  z-index: 1;
  top: .7%;
  left: 86%;
}

.tutorial-9-text {
  top: 20%;
  left: 27%;
}

.tutorial-button {
  margin-right: 7px;
}
