.background-dark {
  background: #3A3A3A;
}

.background-light-green {
  background: #DDEFE2;
  height: 100vh;
}

.background-green {
  background: #49A067;
  height: 100vh;
}

.bg-green {
  background: #49A067;
}

.bg-light-green {
  background: #74BF89;
}

.background-light-grey {
  background: #F4F4F4;
}

.background-image-none {
  background-image: none !important;
}
