.btn-green {
  color: #fff !important;
  background-color: #49A067 !important;
  border-color: #49A067 !important;
  border-radius: 2rem !important;
}

.btn-red {
  color: #fff !important;
  background-color: #dd3645 !important;
  border-color: #dd3645 !important;
  border-radius: 2rem !important;
}

.btn-black {
  color: #fff !important;
  background-color: #22272b !important;
  border-color: #22272b !important;
  border-radius: 2rem !important;
}

.btn-signup {
  color: #49A067 !important;
  background-color: #fff !important;
  border-color: #fff !important;
  border-radius: 2rem !important;
}

.btn-login {
  color: #fff !important;
  background-color: #49A067 !important;
  border-color: #49A067 !important;
  border-radius: 2rem !important;
}

.clear-button {
  background: none;
  border: none;
}
