@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

html, body {
  min-height: 100vh;
  height: 100%;
  font-family: 'Muli', sans-serif !important;
}

ul {
  list-style-type: none;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
  outline:0px !important;
  -webkit-appearance:none;
  box-shadow: none !important;
}

select {
  -webkit-appearance: none;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  text-align: center;
}

// button:hover {
//   background: #A8A8A8;
// }

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ced4da;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #ced4da;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #ced4da;
}

.table > tbody > tr > td {
  padding: 1.3rem;
  vertical-align: middle;
}

#tournament-matches-table.table > tbody > tr > td {
  padding-left: 0;
}

#tournament-matches-table.table > thead > tr > th {
  padding-left: 0;
}

.edit-dropdown.dropdown-toggle::after {
  display: none;
}

.dropdown-menu-center {
  left: 50% !important;
  right: auto !important;
  text-align: center !important;
  transform: translate(-50%, 0) !important;
  top: 2rem !important;
}

.vh-45 {
  min-height: 45vh;
  max-height: 45vh;
  overflow: auto;
}

.w-40 {
  width: 40% !important;
}

.inline {
  display: inline;
}

.middle {
  vertical-align: middle;
}

.hide-row {
  .hide {
    visibility: hidden;
  }
}

.hide-row:hover {
  .hide {
    visibility: visible;
  }
}

.skills-li {
  background: #49A067;
  color: white;
  border-radius: 1rem;
}

.desktop-view {
  display: none !important;

  @media (min-width: 576px) {
    display: flex !important;
  }
}

.mobile-view {
  display: flex !important;

  @media (min-width: 576px) {
    display: none !important;
  }
}

.uppercase {
  text-transform: capitalize;
}
