.icon {
  width: 59px;
  height: 59px;
}

.icon-small {
  width: 30px;
  height: 30px;
}

.logo {
  width: 40px;
  height: 40px;
}

.close {
  position: absolute;
  right: 1rem;
}

.hard-court {
  color: #4A66AF;
}

.clay-court {
  color: #CA612C;
}

.grass-court {
  color: #65994f;
}

.carpet-court {
  color: #9B3535;
}
