.text-grey {
  color: #A8A8A8 !important;
}

.text-dark-grey {
  color: #495057 !important;
}

.text-green {
  color: #49A067;
}

.text-black {
  color: #212529;
}

.goals-text {
  font-size: 14px;
}

.signup-text {
  font-size: 13px;
}
